@import "tailwindcss";

/* 隐藏滚动条 */
.none-srollbar::-webkit-scrollbar {
  display: none;
}

/* 基础样式 */
@layer base {
  input,
  select {
    @apply rounded-lg border border-gray-200 bg-gray-100 px-3 py-2 focus:outline-indigo-500;
  }
  select {
    @apply appearance-none;
  }
}
